# Copy this file to .env and fill in your values
# NEVER commit .env to git

# Sanity CMS — get these from sanity.io/manage → your project → Settings → API
VITE_SANITY_PROJECT_ID=xbo1tgfm
VITE_SANITY_DATASET=production
VITE_SANITY_TOKEN=skrnwWWvr5anJ8KhQ9QFMMzwSzdNQuivMgPkqVKXErHr6MlGguSK7KX3nQRZCBwEQCsJqtLHTp1nEpXJ5RYUZ48gpa58PpyZjw4rRRiFGXm7hUsoxLXU9LPmE8KCcIH9SRlAp7kuUtH87YCnhwNgTRpUF0LOaVsBkTl9DZD7P6uEdJE2CQ8E
